<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Kapitel 3", kapitel3_path %></li>
		<li><%= link_to "Kapitel 4", kapitel4_path %></li>
		<li><%= link_to "Kapitel 5", kapitel5_path %></li>
		<li><%= link_to "Kapitel 6", kapitel6_path %></li>
		<li><%= link_to "Cheatsheet", cheatsheet_path %></li>
		<li><%= link_to "Bericht", bericht_path %></li>
	</ul>			
</nav>