<nav>
	<ul>
		<li><span><%= link_to "Home", root_path %></span></li>
		<li><span><%= link_to "Kapitel 3", kapitel3_path %></span></li>
		<li><span><%= link_to "Kapitel 4", kapitel4_path %></span></li>
		<li><span><%= link_to "Kapitel 5", kapitel5_path %></span></li>
		<li><span><%= link_to "Kapitel 6", kapitel6_path %></span></li>
		<li><span><%= link_to "Cheatsheet", cheatsheet_path %></span></li>
		<li><span><%= link_to "Bericht", bericht_path %></span></li>
	</ul>			
</nav>