<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= stylesheet_link_tag 'style', :media => 'screen' %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		
		<div class="container">
			
			<header>
				<h1>Kleine Railsdoku</h1>
			</header>

			<%= render 'layouts/navigation' %>
			
			<section class="content">
				<%= yield %>
			</section>
			
			<%= render 'layouts/footer' %>
		
		</div>

	</body>
</html>
